* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none; 
}

body {
    font-family: Arial, sans-serif;
}
/*Comienzo navegador con menu hamburguesa*/
header{
    padding: 32px 0;
    background-color: black;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    font-size: 24px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.5rem;
}

.menu .nav__generos ul li{
    position: relative;
    float:left;
}
.menu .nav__generos ul li a{
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu .nav__generos ul li a:hover{
    color:red
}
#menu{
    display:none;
}

.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .menu{
        padding:30px
    }
    .menu label{
        display:initial;
    }
    header{
        padding: 40px 0;
    }
    .menu .nav__generos{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: blueviolet;
        display: none;
    }
    .container{
        height: 2rem;
    }
    .menu .nav__generos ul li{
        width: 100%;
    }
    #menu:checked ~ .nav__generos{
        display: initial;
    }
}
/*Fin navegador con menu hamburguesa*/

.contenedor__tarjetas {
    display: grid;
    gap: 1.25rem;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    padding: 1rem;
}

.tarjeta {
    grid-column: span 2;
    background-color: blue;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 20rem;
}
img {
    border-radius: 1rem;
}
/*Inicio estilos de botones*/
.botones__paginado {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todos__btn {
    cursor: pointer;
    border: none;
    height: 4rem;
    width: 15rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .botones__paginado {
        flex-direction: column;
        align-items: center;
    }
}
/*Fin estudio botones*/