* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor__tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: space-between;
    grid-auto-rows: minmax(100px, auto);
    background-color: brown;

  }


#tarjeta{
    background-color: blue;
    padding: 1rem;
    /*width: 20rem; /*ANCHO*/


    /*padding: 1.75rem;
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, filter 0.3s;
    max-width: 100%; /* Asegurarse de que las tarjetas no se desborden */
}


/* Estilo para responsividad 
@media screen and (max-width: 768px) {
    .contenedor__tarjetas {
        grid-template-columns: repeat(2, 1fr); /* Mostrar 2 columnas en pantallas pequeñas
    }
}
